@model IEnumerable<TaskManagementSystem.Web.Models.HomePageViewModel>
@{
    ViewBag.Title = "Home Page";
}

<h1 style="text-align:center">Task Management System</h1>
<br />

<div class="row">
    @for (int i = 0; i < 6; i++)
    {
        var task = Model.ElementAt(i);
        <a href="@Url.Action("Details", "Tasks", new { task.Id })" style="color:inherit;">
            <div class="col-md-6" style="border:1px solid black; border-radius:20px; padding:10px">
                <div class="col-md-2">
                    <div><strong>Created Date:</strong></div>
                    <div>@task.CreatedDate</div>
                </div>
                <div class="col-md-6">
                    <div><strong>Description:</strong></div>
                    <div>@task.Description</div>
                </div>
                <div class="col-md-2">
                    <div><strong>Type:</strong></div>
                    <div>@task.Type</div>
                </div>
                <div class="col-md-2">
                    <div><strong>Required by:</strong></div>
                    <div>@task.RequiredByDate</div>
                </div>
            </div>
        </a>
        if (i > 0 && (i + 1) % 2 == 0)
        {
            @: </div>
            <br />
            @:<div class="row">
        }
    }
</div>